<div class="container-fluid" ng-init="rooms_list()">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb custom-style" ng-if="listing">
                <li class="active">
                    <a href="#/accomodation_dashboard/{{accomodation.category}}/{{accomodation.accomodation_id}}">Dashboard</a>
                </li>
                <li>
                    <a href="#/roomtypes/{{accomodation.category}}/{{accomodation.accomodation_id}}">Room Types</a>
                </li>
                <li>
                    Rooms
                </li>
            </ol>
            <ol class="breadcrumb custom-style" ng-if="add_edit">
                <li class="active">
                    <a href="#/accomodation_dashboard/{{accomodation.category}}/{{accomodation.accomodation_id}}">Dashboard</a>
                </li>
                <li>
                    <a href="#/roomtypes/{{accomodation.category}}/{{accomodation.accomodation_id}}">Room Types</a>
                </li>
                <li>
                    <a href="" ng-click="show_list()">Rooms</a>
                </li>
                <li>{{heading}}</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-sm-12">
            <!-- listing started -->
            <div class="panel panel-default" ng-if="listing">
                <div class="panel-heading">
                    <h3 class="panel-title">List all rooms for {{show_room.name}}</h3>
                    <a ng-click="show_add()">
                        <button type="button" class="btn btn-warning abs-btn rounded-btn">
                            <img src="images/plus-icon.png" alt="">
                        </button>
                    </a>
                </div>
                <div class="panel-body no-pad-top-bottom">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped manage-freatured">
                            <thead>
                                <tr>
                                    <th>Sl</th>
                                    <th>Room Number</th>
                                    <th>Edit</th>
                                    <th>delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="show_room.rooms.length>0" ng-repeat='room in show_room.rooms'>
                                    <td>{{$index+1}}</td>
                                    <td>{{room.number}}</td>
                                    <td><a ng-click="edit(room._id)" class="btn btn-warning with-icon"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></td>
                                    <td><a ng-click='delete(room._id)' class="btn btn-danger with-icon"><i class="fa fa-trash-o" aria-hidden="true"></i>delete</a></td>
                                </tr>
                                <tr ng-if="show_room.rooms.length==0">
                                    <td colspan="5" style="text-align:center">No records found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- listing end -->
            <!-- add section -->
            <div class="panel panel-default" ng-if="add_edit">
                <div class="panel-heading">
                    <h3 class="panel-title">{{heading}} for {{show_room.name}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form angular-validator-submit="roomInsert()" name="addrf" id="addrf" novalidate angular-validator>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="sel1">(<span style="color:red">*</span>):Room Number</label>
                                            <input class="form-control" name="rfname" type="text" ng-model="room.room_no" validate-on="dirty" required-message="'This field is required..'" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="sel1">(<span style="color:red">*</span>):Price Type</label>
                                            <select class="form-control" ng-model="room.price_type" ng-options="item.id as item.value for item in Pricetype">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                    <!-- <div class="col-sm-3">
                                        <a ng-click="show_list()" class="btn btn-primary own-padding">Show Room list</a>
                                    </div> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end add section -->
        </div>
    </div>
</div>
